:root
{
    background-color: rgb(203, 195, 227);
    background-image: url("images/fireball.png");
    background-repeat: repeat;
    color: red;
}
.example
{
    border: 2px rgb(255, 0, 0) solid;
    width: 30vw;
    background-color: rgb(253, 253, 150);
    float: right;
}
