:root
{
  background-color: yellow;
  background-image: url("images/fireball.png");
  background-repeat: repeat;
  color: red;
}
.example
{
    border: 2px rgb(38, 38, 38) solid;
    width: 30vw;
    background-color: rgb(200, 200, 200);
    float: right;
}
  src: url
