:root
{
  background-color: rgb (157, 0, 255);
  background-image: url("images/fireball.png");
  background-repeat: repeat;
  color: red;
}
.example
{
    border: 2px rgb (157, 0, 255) solid;
    width: 30vw;
    background-color: rgb (255, 255, 255);
    float: right;
}
  src: url
