:root
{
  background-color: yellow;
  background-image: url("images/fireball.png");
  background-repeat: repeat;
  color: red;
}
.example
{
    border: 2px black solid;
    width: 30vw;
    background-color: white;
    float: right;
}
  src: url
