:root
{
    --silver: RGB(192, 192, 192);
    --pastelpink: RGB(248, 200, 220);
    --pastelyellow: RGB(255, 238, 140);
    color: var(--pastelyellow);
    background-color: var(--silver);
    text-align: center;
}

.title
{
    color: var(--pastelpink);
}

h1
{
    font-size: 48pt;
    text-decoration: underline;
    color: var(--pastelpink);
}
h2
{
    font-size: 36pt;
    text-decoration: underline;
    color: var(--pastelyellow);

img
{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

table
{
    margin: auto;
}
body 
{
  margin: 0;
  overflow-x: hidden; 
}

